section#pricing {
  & h2 {
    font: var(--ff-base);
    font: var(--title-xs);
    color: var(--text-body);
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
  }

  & .pricing-box {
    width: 262px;
    height: 350px;
    background-color: var(--shape-base);
    border-radius: 20px;
    border: 1px solid var(--blue-dark);
    padding-inline: 32px;
    padding-top: 32px;
    padding-bottom: 28px;
    margin-top: 2rem;
    position: relative;
    flex-shrink: 0;

    &.pricing-box > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &.pricing-box > div > p {
      font: var(--body-xs);
      color: var(--pink-light);
    }

    &.pricing-box > div > span {
      padding: 6px 14px;
      border-radius: 20px;
      font: var(--body-xs);
      color: var(--text-body);
      background-color: var(--shape-stroke);
    }

    &.pricing-box > div + div {
      display: flex;
      flex-direction: column;
      margin-top: 1.5rem;

      & > p:nth-child(1) {
        font: var(--title-sm);
        font-size: 26px;
        color: var(--text-title);
      }

      & > p:nth-child(2) {
        font: var(--body-sm);
        color: var(--text-title);
        font-size: 0.75rem;
        margin-right: 4.5rem;
      }
    }

    &.pricing-box .advantages {
      display: flex;
      flex-direction: column;
      align-items: center;
      font: var(--body-xs);
      color: var(--text-body);
      gap: 0.60rem;
      font-size: 0.625rem;
      margin-top: 3rem;
    }

    &.pricing-box .advantages-3 {
      display: flex;
      flex-direction: column;
      align-items: center;
      font: var(--body-xs);
      color: var(--text-body);
      gap: 0.60rem;
      font-size: 0.625rem;
      margin-top: 2.4rem;
    }

    &.pricing-box .button {
      padding: 0.625rem;
      border-radius: 0.625rem;
      margin-top: 1rem;
      background-color: var(--pink-dark);
      color: var(--text-body);
      font: var(--body-sm);
      font-weight: 700;
    }
  }
}

#scrollX {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  justify-content: start;
  max-width: 264px;
}

#scrollX::-webkit-scrollbar {
  display: none;
}