section#pricing {
  margin-bottom: 30rem;

  & h2 {
    font: var(--ff-base);
    font: var(--title-xs);
    color: var(--text-body);
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
  }

  & .pricing-box {
    width: 16.375rem;
    height: 21.875rem;
    background-color: var(--shape-base);
    border-radius: 1.25rem;
    border: 1px solid var(--blue-dark);
    padding-inline: 2rem;
    padding-top: 2rem;
    padding-bottom: 1.75rem;
    margin-top: 2rem;
    position: relative;
    flex-shrink: 0;

    &.pricing-box > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &.pricing-box > div > p {
      font: var(--body-xs);
      color: var(--pink-light);
    }

    &.pricing-box > div > span {
      padding: 0.375rem 0.875rem;
      border-radius: 1.25rem;
      font: var(--body-xs);
      color: var(--text-body);
      background-color: var(--shape-stroke);
    }

    &.pricing-box > div + div {
      display: flex;
      flex-direction: column;
      margin-top: 1.5rem;

      & > p:nth-child(1) {
        font: var(--title-sm);
        font-size: 1.625rem;
        color: var(--text-title);
      }

      & > p:nth-child(2) {
        font: var(--body-sm);
        color: var(--text-title);
        font-size: 0.75rem;
        margin-right: 4.5rem;
      }
    }

    &.pricing-box .advantages {
      display: flex;
      flex-direction: column;
      align-items: center;
      font: var(--body-xs);
      color: var(--text-body);
      gap: 0.60rem;
      font-size: 0.625rem;
      margin-top: 3rem;
    }

    &.pricing-box .advantages-3 {
      display: flex;
      flex-direction: column;
      align-items: center;
      font: var(--body-xs);
      color: var(--text-body);
      gap: 0.60rem;
      font-size: 0.625rem;
      margin-top: 2.4rem;
    }

    &.pricing-box .button {
      padding: 0.625rem;
      border-radius: 0.625rem;
      margin-top: 1rem;
      background-color: var(--pink-dark);
      color: var(--text-body);
      font: var(--body-sm);
      font-weight: 700;
    }
  }
}

@media (width < 80em) {
  #scrollX {
    display: flex;
    gap: 1rem;
    max-width: 320px;
  
    overflow-x: auto;

    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  #scrollX::-webkit-scrollbar {
    display: none;
  }
}

@media (width >= 80em) {
  section#pricing {
    & h2 {
      font-size: 1.75rem;
      margin-top: 12rem;
    }
  }

  div#desktop-pricing {
    display: flex;
    justify-content: center;
    width: 1000px;
    height: 500px;
    position: relative;
    margin-top: 5rem;

    border: 1px solid salmon;

    & .pricing-box {
      width: 288px;
      height: 416px;
      background-color: var(--shape-base);
      border-radius: 1.25rem;
      border: 1px solid var(--blue-dark);
      padding-inline: 2rem;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }

    & #box-1 {
      position: absolute;

      z-index: -1;

      & img[src*="little-star-1"] {
        position: absolute;
        top: -20px;
        left: -40px;
      }

      & img[src*="little-star-2"] {
        position: absolute;
        top: 20px;
        left: -50px;
      }
    } 

    & #box-2 {
      position: absolute;
      position: relative; 

      & img[src*="habbit"] {
        position: absolute;
        top: -51px;

        z-index: -3;
      }
    } 

    & #box-3 {
      position: absolute;

      z-index: -1;

      & img[src*="little-star-1"] {
        position: absolute;
        bottom: -20px;
        right: -40px;
      }

      & img[src*="little-star-2"] {
        position: absolute;
        bottom: -25px;
        right: 0px;
      }
    } 

    &#desktop-pricing:hover #box-2 {
      animation: price-1 1.5s both;
    }

    &#desktop-pricing:not(:hover) #box-2 {
      animation: price-1-back 1.5s both;
    }

    &#desktop-pricing:hover #box-1 {
      animation: price-2 1.5s both;
    }

    &#desktop-pricing:not(:hover) #box-1 {
      animation: price-2-back 1.5s backwards;
    }

    &#desktop-pricing:hover #box-3 {
      animation: price-3 1.5s both;
    }

    &#desktop-pricing:not(:hover) #box-3 {
      animation: price-3-back 1.5s both;
    }
  }

  @keyframes price-1 {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-2rem);
    }
  }

   @keyframes price-1-back {
    from {
      transform: translateY(-2rem);
    }
    to {
      transform: translateY(0);
    }
  }

  @keyframes price-2 {
    100% {
      transform: translateY(1rem) translateX(-18rem) rotate(-6deg);
    }
  }

  @keyframes price-2-back {
    0% {
      transform: translateY(1rem) translateX(-18rem) rotate(-6deg);
    }
  }

  @keyframes price-3 {
    to {
      transform: translateY(1rem) translateX(18rem) rotate(6deg);
    }
  }

  @keyframes price-3-back {
    0% {
      transform: translateY(1rem) translateX(18rem) rotate(6deg);
    }
  }
}