.container {
  --max-width: 375px;
  width: min(var(--max-width), 100% - var(--px-base) * 2);
  margin-inline: auto;
}

.desktop-only {
  display: none;
}

.py-base {
  padding-block: 1rem;
}

.px-base {
  padding-inline: 1rem;
}

.spell-img {
  width: 2.5rem;
  height: 2.5rem;
  opacity: 0;
}

.text-color {
  opacity: 0.5;
}

.text-color-2 {
  opacity: 0.5;
}

.text-color-3 {
  opacity: 0.5;
}

.spell-top {
  margin-top: 5px;
}

.purple-star  {
  width: 1.25rem;
  height: 1.25rem;
}

.book-img {
  width: 12rem;
  height: 15rem;

  z-index: 3;
}

.purple-stars {
  width: 1rem;
  height: 1rem;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.gap {
  gap: 16px;
}

.gap-8 {
  gap: 8px;
}

.gap-24 {
  gap: 24px;
}


.top {
  margin-top: 5.5rem !important;
}

.bottom {
  margin-bottom: 5.5rem;
}

.blue {
  color: var(--blue-light) !important;
}

.bg-blue {
  background-color: var(--blue-dark) !important;
}

@media (width < 80em) {
  .right {
    margin-right: 1.9rem;
  }

  .left {
  margin-left: 1.6rem;
}
}

@media (width >= 80em) {
  .container {
    --max-width: 1280px;
  }

  .mobile-only {
    display: none;
  }
}