.container {
  --max-width: 375px;
  width: min(var(--max-width), 100% - var(--px-base) * 2);
  margin-inline: auto;
}

.desktop-only {
  display: none;
}

.py-base {
  padding-block: 1rem;
}

.px-base {
  padding-inline: 1rem;
}

.spell-img {
  width: 2.5rem;
  height: 2.5rem;
  opacity: 0;
}

.text-color {
  opacity: 0.5;
}

.text-color-2 {
  opacity: 0.5;
}

.text-color-3 {
  opacity: 0.5;
}

.spell-top {
  margin-top: 5px;
}

.purple-star  {
  width: 1.25rem;
  height: 1.25rem;
}

.book-img {
  width: 12rem;
  height: 15rem;
}

@media (width >= 80em) {
  .container {
    --max-width: 1280px;
  }

  .mobile-only {
    display: none;
  }
}